<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Robo Arm Control Center</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="/styles.css">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</head>
<body>
  <div class="row">
    <div class="col s6 offset-s3" style="height:200px">
      <div class="valign-wrapper" style="height:100%">
        <p style="text-align:center; width:100%">
          JESSICA
        </p>
      </div>
    </div>
    <div class="col s12">
      <a id="main" onClick="startstop()" class="full btn"> 
        Start Arm Script
      </a>
    </div>
    <div class="col s12">
      <a id="calibrate" onClick="calibrate()" class="full btn">
        Calibrate Arm
      </a>
    </div>
    <div class="col s12">
      <a id="home" onClick="home()" class="full waves-effect waves-light btn">
        Home
      </a>
    </div>
    <div class="col s6">
        <a id="emOn" onClick="em(1)" class="full waves-effect waves-light pink darken-4 btn">
          EM On
        </a>
    </div>
    <div class="col s6">
        <a id="emOff" onClick="em(0)" class="full waves-effect waves-light grey darken-3 btn">
          EM Off
        </a>
    </div>
  </div>

  <script type="text/javascript" src="/app.js"></script>
</body>
</html>

