html{
  background-color:rgba(0,0,0,0.1);
  height:100%;
}
body{
  height:100%;
}
.row{
  height:100%;
}
.col{
  height:20%;
  margin-bottom: 20px;
}
.full{
  width:100%;
  height:100%;
  font-size:5rem;
  display:flex;
  justify-content:center;
  align-items:center;
  line-height:1em;
}
#main {
  background-color: #f9dbbd;
  color: #424242;
}
#main.engaged {
  background-color: #d6bca2;
}
#calibrate {
  background-color: #ffa5ab;
  color: #424242;
}
#home {
  background-color: #da627d;
  color: #424242;
}